@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #333;
  color: #fff;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin: 15px;
}

.container > div {
  cursor: pointer;

  height: 210px;

  background-size: cover;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  transition: all 0.3s ease-in;
}

.container > div:hover {
  opacity: 0.7;
  transform: scale(0.98);
}

h2 {
  font-size: 45px;
  font-weight: bold;
  margin: 10px;
}

h2 span {
  font-size: 30px;
}

p {
  font-size: 20px;
}

.container > div:nth-of-type(1) {
  grid-column: 1 / 3;
}

.container > div:nth-of-type(6) {
  grid-column: 3 / 5;
}

.container > div:nth-of-type(9) {
  grid-column: 3 / 5;
}

.container > div:nth-of-type(10) {
  grid-column: 1 / 3;
}
.bg2 {
  background: url(/image1.jpg);
  color: #fff;
}

.bg1 {
  background: url(/image2.jpg);
  color: #fff;
}
